html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

.contact-icons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  
  
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #3a1681;
  font-weight: 600;
  font-size: 14px;
  margin-left: 16px;
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: #6715e3;
}

.nav-button {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
  padding: 10px 15px;
  background: transparent;
  border: none;
  color: #3a1681;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

@media (min-width: 600px) {
  .nav-button:hover {
    color: #6715e3;
    transform: scale(1.05);
  }
}

@media (max-width: 600px) {
  .contact-icons {
    display: none !important;
  }
}
