html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

/* Contact section (desktop only) */
.contact-icons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #3a1681;
  font-weight: 600;
  font-size: 14px;
}

/* Nav Button animation */
.nav-button {
  position: relative;
  overflow: hidden;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
  padding: 10px 15px;
  color: #3a1681;
}

.nav-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: #3a1681; /* Updated to be more visible */
  transition: width 0.3s ease, left 0.3s ease;
}

.nav-button:hover::after {
  width: 100%;
  left: 0;
}

.nav-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #3a1681;
  border-bottom: 2px solid #3a1681;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.3s ease-in-out;
  z-index: -1;
}

.nav-button:hover::before {
  transform: scaleY(1);
  opacity: 1;
}

/* Active link gets same hover effect */
.nav-button.active-link::after {
  width: 100%;
  left: 0;
 
}

.nav-button.active-link::before {
  transform: scaleY(1);
  opacity: 1;
}

/* Hide contact section on small screens */
@media (max-width: 600px) {
  .contact-icons {
    display: none !important;
  }
}



/* DrawerAppBar.css */
.nav-button:hover {
  transform: scale(1.05);
  color: #7681B3;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #3a1681;
  margin-left: 16px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: #6715e3;
}

/* Hover effect for mobile drawer items (ListItemButton) */
.MuiDrawer-paper .MuiListItemButton-root {
  transition: all 0.3s ease-in-out;
}

.MuiDrawer-paper .MuiListItemButton-root:hover {
  background: linear-gradient(90deg, #dcd5f6, #7fe5e4); /* Matching gradient */
  color: #6715e3 !important;
  transform: scale(1.05);
}
