.tippers {
  padding: 20px;
   background: 'radial-gradient(rgba(72, 183, 214, 0.35), #ffffff)',
}

.tippers-section h2 {
  color: #004080;
  margin-bottom: 10px;
}

.tippers-section p {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}
