/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.section {
  
  
  border-bottom: 1px solid #ccc;
  background-color: #fdfdfd;
}

.section h2 {
  color: #4307bb;
  font-size: 30px;
}
